<h1>Users</h1>
<div class="index-body">
  <div id="users" class="index-div" >
    <% @users.each do |user| %>
      <div class="user-div">
        <%= link_to user.name, user_path(user.id), :class => "index-name" %>
        <% if user != current_user %>
          <% unless current_user.friends.include?(user)%>
            <div class="friend-div"><%= button_to "Friend Request", friend_requests_path(friend_id: user.id), method: :post %> </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>