/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

 body{
    background-color: skyblue;
 }

 .header-bar{
    background-color: black;
    display: grid;
    grid-template-columns: 30% 17% 17% 13% 8% 7% 5%;
    align-items: center;
    height: 50px;
    width: 100%;
 }

 .new-post{
    background-color: skyblue;
    color: white;
    height: 75%;
    width: 200px;
    font-size: 24px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-weight: bold;
 }

 .find-people{
   background-color: lightgreen;
   color: white;
   height: 75%;
   width: 200px;
   font-size: 24px;
   display: grid;
   justify-content: center;
   align-items: center;
   border-radius: 100px;
   font-weight: bold;
}

 .logged-in{
    color: white;
 }

 .logged-in:visited{
    color: white;
 }

 .index-div{
    background-color: skyblue;
    width: 60%
 }

 .user-div{
    background-color: white;
    padding: 15px;
    border-bottom: solid;
    border-top: solid;
    border-color: skyblue;
    border-radius: 100px;
    display: grid;
    grid-template-columns: 80% 10%;
 }

 .user-show-div{
    background-color: white;
    padding: 15px;
    border-bottom: solid;
    border-top: solid;
    border-color: skyblue;
    border-radius: 100px;
    width: 50%;
    height: 200px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 15% 15% 15% 40%;
    justify-content: center;
    align-items: center;
 }

 .center{
   display: grid;
   justify-content: center;
   align-items: center;
 }

 .post-div{
   background-color: white;
   padding: 15px;
   border-bottom: solid;
   border-top: solid;
   border-color: skyblue;
   border-radius: 100px;
   width: 500px;
   height: 200px;
   display: grid;
   justify-content: center;
   align-items: center;
 }


 .username, .bio{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    justify-content: center;
    align-items: center;
 }


 .index-link{
    font-size: 32px;
    text-decoration:dotted;
    color: white;
 }

 .navbar-link{
    color: white;
 }

 .index-body{
    display: flex;
    justify-content: center;
 }

 .postlist{
   background-color: white;
   padding: 15px;
   border-bottom: solid;
   border-top: solid;
   border-color: skyblue;
   border-radius: 100px;
   width: 20%;
   display: grid;
   grid-template-columns: 70% 5%;
   row-gap: 10px;
 }

 .list-cont{
   display: flex;
   justify-content: center;
 }

 .comment-div{
   background-color: white;
   padding: 20px;
   border-radius: 30px;
   width: 30%;
   margin-bottom: 5px;
   margin-left: 5px;
 }

 .comment-name{
   font-weight: bold;
 }

 .delete-comment{
   margin-top: 10px;
 }

 .friend-div{
   width: 150px;
 }

 span{
   display: flex;
   justify-content: space-between;
 }